<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839638913932-v3q3ktpobunih8coq830coishs1i00kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839638913932-v3q3ktpobunih8coq830coishs1i00kj</string>
	<key>API_KEY</key>
	<string>AIzaSyC6HOwiAOwcivHlpubXtazfwUASmOhxWAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>839638913932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.corwhite.com.AllIndiaLegal</string>
	<key>PROJECT_ID</key>
	<string>allindialegal</string>
	<key>STORAGE_BUCKET</key>
	<string>allindialegal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839638913932:ios:6982394c8f8a4b15f0bca9</string>
	<key>DATABASE_URL</key>
	<string>https://allindialegal.firebaseio.com</string>
</dict>
</plist>
